.popup {
  width: 328px;
  min-height: 304px;
  max-height: 500px;
  border: 1px solid #9a9a9a;
  background-color: #fff;
  padding: 24px;
  position: fixed;
  top: 26%;
  left: 60%;
  visibility: hidden;
}