.sidebar__item {
  padding: 0;
  padding-bottom: 36px;
}

.sidebar__item:nth-child(4n) {
  border-bottom: 1px solid #9a9a9a;
}

.sidebar__item:nth-child(5n) {
  padding-top: 36px;
}

.sidebar__item:last-child {
  border: none;
}