.menu__btn {
  font-size: 18px;
  line-height: 24px;
  background-color: rgba(255, 255, 255, 0);
  color: #1D6CC7;
  cursor: pointer;
  padding: 0;
  margin: 0 32px 0 0;
  border: none;
  outline: none;
}