.link-content {
  text-decoration: none;
  width: 100%;
  display: flex;
  border-bottom: 1px solid #9a9a9a;
  box-sizing: border-box;
  padding: 14px 0;
  border-bottom: 1px solid #9A9A9A;
  align-items: center;
}

.link-content:hover {
  box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}

.link-content:last-child {
  margin-bottom: 20px;
}