.menu__search {
  box-sizing: border-box;
  height: 100%;
  max-width: 152px;
  padding: 12px;
  font-size: 14px;
  line-height: 24px;
  border: 1px solid #9A9A9A;
  outline: none;
}

.menu__search::placeholder {
  color: #9A9A9A;
}

.menu__search:focus {
  border-color: #1D6CC7;
}