.message {
  display: grid;
  grid-template-columns: 410px 1fr;
  grid-template-rows: 55px 55px 1fr;
  /*align-content: start;
  align-items: start;*/
  gap: 26px 10px;
  grid-template-areas:
  "menu ."
  "info ."
  "text ."
  "answer .";
}