.grid {
  display: block;
  width: 70%;
/*  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: repeat(8, 1fr);
  gap: 0 80px;

  grid-template-areas:
  "buttons"
  "scrin"
  "scrin"
  "scrin"
  "scrin"
  "scrin"
  "scrin"
  "scrin";*/
}